.navbar{
    background-color:  #232F73;
    color: #FFFFFF;
}
.navbar-nav a{ 
    margin-left: 40px;

}
#login{
    
    margin-left: 100px;
}
#login a{
    color: #000000;
    text-align: center;
    background-color: #FFFFFF;
    
}
.active a{
    border-bottom: 2px solid #FFFFFF;
}
.nav-child{
    background-color: #F9C52D;
}